@import "tailwindcss";

.container{
 max-width: 1200px;
  margin: auto;
}
body {
  font-family: 'Fira Code', monospace;
}



@keyframes wiggle {
  0%, 100% { transform: rotate(0deg); }
  25% { transform: rotate(-6deg); }
  75% { transform: rotate(6deg); }
}

.container{
  width: 1240px;
  margin: auto;
}